html,body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background: linear-gradient(to right, rgba(119,119,119,0.07), rgba(119,119,119,0.13));
	min-height: 100%;
}
body {
	position: relative;
}
td {
 width: 430px;
 height: 330px;
 display: inline-block;
 margin: 15px;
 position: relative;
 left: 10px;
 box-shadow: 1px 1px 7px 1px #777;
 -webkit-box-shadow: 1px 1px 7px 1px #777;
 -moz-box-shadow: 1px 1px 7px 1px #777;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
}

tr#randomItem {
  max-width: 1200px;
}
.hidden {
  display: none;
}
.user-image {
  position: relative;
  left: 33%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-top: 10px;
}


i.far.fa-user,
i.far.fa-lock,
i.far.fa-calendar-alt,
i.far.fa-phone,
i.far.fa-map,
i.far.fa-envelope {
	position: relative;
  top: 100px;
	left: 20px;
  font-size: 30px;
	padding: 1% 4%;
	border-radius: 10px;
	background: white;
	border-color: rgba(100,100,100,0.3);
}
